<div class="wrapper" [class.correct]="isCorrect">
  <div class="buttons-container container-with-poadding">
    <div class="actions">
      <button class="btn" type="button" (click)="uploadFile()">
        <upload-icon />
      </button>
      <button class="btn" type="button" (click)="newFile()">
        <edit-icon />
      </button>
      <button
        class="btn"
        type="button"
        [disabled]="words.length < 1"
        (click)="downloadFile()"
      >
        <download-icon />
      </button>
    </div>
  </div>
  @if (newWord) {
    <div
      class="container"
      [@containerTranslationEnterSlideDown]
      [@containerLeaveSlideDown]
      (@containerLeaveSlideDown.done)="newWord = true"
    >
      <div class="kanji">
        {{ current.kanji ?? "&nbsp;" }}
      </div>
      <div class="word">
        @for (character of current.separatedKana; track $index) {
          <button class="character group">
            <span class="kana">{{ character }}</span>
            <span class="romaji opacity-0 group-focus:opacity-100">
              {{ current.romaji[$index] }}
            </span>
          </button>
        }
      </div>
      <div class="translation">
        @if (isCorrect) {
          <div [@containerTranslationEnterSlideDown]>
            {{ current.translation }}
          </div>
        } @else {
          &nbsp;
        }
      </div>
    </div>
  } @else {
    &nbsp;
  }
  <div class="input-container container-with-poadding">
    <form
      [class.expanded]="formExpanded"
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      @if (formExpanded) {
        <div class="successes">
          <div class="number-container">
            @for (digit of digits; track $index) {
              <div class="number-hidden">
                @if (!digit.showAnimation) {
                  @if (isFirstTime) {
                    <div
                      class="number"
                      [@numberEnterSlideDown]
                      (@numberEnterSlideDown.done)="onFirstTimeAnimationDone()"
                    >
                      {{ digit.current }}
                    </div>
                  } @else {
                    <div class="number" [@numberEnterSlideUp]>
                      {{ digit.current }}
                    </div>
                  }
                } @else {
                  <div
                    class="number"
                    [@numberEnterSlideDown]
                    (@numberEnterSlideDown.done)="onNextAnimationDone()"
                  >
                    {{ digit.current }}
                  </div>
                }
              </div>
            }
          </div>
        </div>
      }

      <input
        autofocus
        type="text"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        placeholder="type rōmaji here ..."
        formControlName="kana"
        (focus)="formExpanded = true"
        (focusout)="onFocusOut()"
      />

      @if (isCorrect && counter === 0) {
        <div class="press-enter" [@pressEnterLeaveSlide]>
          Press ⏎ to proceed...
        </div>
      }

      @if (isCorrect) {
        <div class="send-button-container" [@submitEnterLeaveSlide]>
          <button class="send-button" type="submit">
            <enter-icon />
          </button>
        </div>
      }
    </form>
  </div>
</div>

@if (modal.show) {
  <div class="dialog" role="dialog" aria-modal="true">
    <div class="backdrop" [@containerEnterLeaveOpacity]></div>
    <div class="modal-wrapper">
      <div class="modal-container">
        @if (!modal.closing) {
          <div class="modal" [@modalEnterLeaveSlide]>
            <div class="header">
              @switch (modal.section) {
                @case ("upload") {
                  <div>Subir archivo</div>
                }
                @case ("new-edit") {
                  <div>Editar set</div>
                }
              }
              <button class="close-btn" type="button" (click)="closeModal()">
                <close-icon />
              </button>
            </div>
            <div class="content">
              @switch (modal.section) {
                @case ("upload") {
                  <div class="upload">
                    <div class="upload-container" id="upload-container">
                      <upload-icon class="upload-icon"></upload-icon>
                      <p id="upload-message">
                        Arrastra y suelta un archivo aquí o haz clic para cargar
                      </p>
                      <input
                        type="file"
                        class="upload-input"
                        accept=".json"
                        id="upload-input"
                      />
                    </div>
                  </div>
                }
                @case ("new-edit") {
                  <div class="new-edit">
                    @for (word of words; track $index) {
                      <div class="word-item">
                        <div class="group">
                          <label for="{{ $index }}-kanji">Kanji</label>
                          <input
                            [value]="word.kanji ?? ''"
                            (input)="
                              onInputChange($index, 'kanji', $event.target!)
                            "
                            autocomplete="off"
                            id="{{ $index }}-kanji"
                            class="word-input"
                            aria-label="Kanji"
                          />
                        </div>
                        <div class="group">
                          <label for="{{ $index }}-kana">Kana</label>
                          <input
                            [value]="word.kana"
                            (input)="
                              onInputChange($index, 'kana', $event.target!)
                            "
                            autocomplete="off"
                            id="{{ $index }}-kana"
                            class="word-input"
                            [class.invalid]="word.kana.length === 0"
                            aria-label="Kana"
                            required
                          />
                        </div>
                        <div class="group">
                          <label for="{{ $index }}-translation">
                            Traducción
                          </label>
                          <input
                            [value]="word.translation"
                            (input)="
                              onInputChange(
                                $index,
                                'translation',
                                $event.target!
                              )
                            "
                            autocomplete="off"
                            id="{{ $index }}-translation"
                            class="word-input"
                            [class.invalid]="word.translation.length === 0"
                            aria-label="Translation"
                            required
                          />
                        </div>
                        <div class="close-btn-container">
                          <button
                            class="close-btn"
                            type="button"
                            (click)="removeWord($index)"
                          >
                            <close-icon />
                          </button>
                        </div>
                      </div>
                    }
                    <button
                      class="new-word"
                      (click)="addNewWord()"
                      [disabled]="!canAddNewWord"
                    >
                      Agregar
                    </button>
                  </div>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
