<div class="wrapper" [class.correct]="correct">
  @if (newWord) {
    <div
      class="container"
      [@containerTranslationEnterSlideDown]
      [@containerLeaveSlideDown]
      (@containerLeaveSlideDown.done)="newWord = true"
    >
      <div class="kanji">
        {{ current.kanji ?? "&nbsp;" }}
      </div>
      <div class="word">
        @for (character of current.kana; track $index) {
          <button class="character group">
            <span class="kana">{{ character }}</span>
            <span class="romaji opacity-0 group-focus:opacity-100">
              {{ current.romaji[$index] }}
            </span>
          </button>
        }
      </div>
      <div class="translation">
        @if (correct) {
          <div [@containerTranslationEnterSlideDown]>
            {{ current.translation }}
          </div>
        } @else {
          &nbsp;
        }
      </div>
    </div>
  } @else {
    &nbsp;
  }
  <div class="input-container">
    <form
      [class.expanded]="formExpanded"
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      @if (formExpanded) {
        <div class="successes">
          <div class="number-container">
            @for (digit of digits; track $index) {
              <div class="number-hidden">
                @if (!digit.showAnimation) {
                  @if (isFirstTime) {
                    <div
                      class="number"
                      [@numberEnterSlideDown]
                      (@numberEnterSlideDown.done)="onFirstTimeAnimationDone()"
                    >
                      {{ digit.current }}
                    </div>
                  } @else {
                    <div class="number" [@numberEnterSlideUp]>
                      {{ digit.current }}
                    </div>
                  }
                } @else {
                  <div
                    class="number"
                    [@numberEnterSlideDown]
                    (@numberEnterSlideDown.done)="onNextAnimationDone()"
                  >
                    {{ digit.current }}
                  </div>
                }
              </div>
            }
          </div>
        </div>
      }

      <input
        autofocus
        type="text"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        placeholder="type rōmaji here ..."
        formControlName="kana"
        (focus)="formExpanded = true"
        (focusout)="onFocusOut()"
      />

      @if (correct && counter === 0) {
        <div class="press-enter" [@pressEnterLeaveSlide]>
          Press ⏎ to proceed...
        </div>
      }

      @if (correct) {
        <div class="send-button-container" [@submitEnterLeaveSlide]>
          <button class="send-button" type="submit">
            <enter-icon />
          </button>
        </div>
      }
    </form>
  </div>
</div>
