.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0 3rem;
  color: white;

  &.correct {
    color: #86efac;
  }

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;

  .container-with-poadding {
    position: fixed;
    left: 0;
    right: 0;
    padding: 1rem;
  }

  .buttons-container {
    top: 0;

    .actions {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
    }
  }

  .container {
    text-align: center;
    width: max-content;

    .kanji {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 3rem 0;
    }

    .word {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 2.25rem;
      line-height: 2.5rem;

      &:hover {
        color: #737373;
      }

      .character {
        position: relative;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        padding: 0;

        &:hover {
          color: white;
        }

        &:focus .romaji {
          opacity: 1;
        }

        .romaji {
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          opacity: 0;
          font-size: 1.25rem;
          line-height: 1.75rem;
          transition: opacity .1s cubic-bezier(.4, 0, .2, 1);
          user-select: none;
          padding-top: .75rem;
          color: white;
        }
      }
    }

    .translation {
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 3rem 0;
      width: 100%;
      text-align: center;
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
  }

  .input-container {
    bottom: 0;

    form {
      position: relative;
      width: 100%;
      margin: 0 auto;
      border-radius: 999px;
      box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
      transition: all .15s cubic-bezier(.4, 0, .2, 1);
      border-width: 1px;
      border-color: #262626;
      background-color: #171717;
      max-width: 12rem;

      &.expanded {
        max-width: 36rem;
      }

      .press-enter {
        position: absolute;
        bottom: 100%;
        width: 100%;
        text-align: center;
        font-size: .875rem;
        line-height: 1.25rem;
        margin-bottom: .5rem;
        z-index: -10;
        opacity: .5;
        color: white;
      }

      .successes {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        .number-container {
          font-variant-numeric: slashed-zero tabular-nums;
          line-height: 1;
          height: 100%;
          width: 100%;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #737373;
          font-size: .875rem;
          padding-left: 1.25rem;

          .number-hidden {
            position: relative;
            width: .5rem;
            height: 1em;
            overflow: hidden;

            .number {
              position: absolute;
            }
          }
        }
      }

      input {
        padding: .75rem 1rem;
        width: 100%;
        outline: none;
        text-align: center;
        background-color: transparent;
        color: white;
      }

      .send-button-container {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;

        .send-button {
          display: flex;
          height: 2rem;
          width: 2rem;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          outline: 2px solid transparent;
          outline-offset: 2px;
          transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
          transition-timing-function: cubic-bezier(.4,0,.2,1);
          transition-duration: .15s;
          color: #737373;

          &:focus, &:hover {
            background-color: #262626;
          }
        }
      }
    }
  }
}

.dialog {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .backdrop {
    position: fixed;
    inset: 0px;
    background-color: #171717;
    opacity: .8;
  }

  .modal-wrapper {
    position: fixed;
    inset: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;

    .modal-container {
      display: flex;
      min-height: 100%;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .modal {
        max-width: 90vw;
        max-height: 90vh;
        width: max-content;
        border-radius: .5rem;
        overflow-y: auto;
        padding: 1.5rem;
        box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
        border-width: 1px;
        border-color: #262626;
        background-color: #171717;
        color: white;
        box-sizing: content-box;

        .header {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: .5rem;

          .close-btn {
            margin-left: auto;
            display: flex;
            height: 2rem;
            width: 2rem;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            outline: 2px solid transparent;
            outline-offset: 2px;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .15s;
            color: #737373;

            &:hover, &:focus {
              background-color: #262626;
            }
          }
        }

        .content {
          width: max-content;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: .5rem;
          margin: 1rem 0;
          overflow-x: auto;

          .upload {
            width: 20rem;

            .upload-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 200px;
              padding: 1rem;
              border: 2px dashed #fff;
              border-radius: 8px;
              background-color: #1c1c1c;
              color: #fff;
              cursor: pointer;
              transition: background-color 0.3s ease;
              position: relative;

              &:hover {
                background-color: #333;
              }

              &.drag-over {
                background-color: #444;
                border-color: #4caf50;
              }

              p {
                margin-top: 10px;
                font-size: 0.9rem;
                text-align: center;
                color: #aaa;
              }
            }

            .upload-icon {
              width: 2rem;
              aspect-ratio: 1;
            }

            .upload-input {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer;
            }
          }

          .new-edit {
            display: flex;
            flex-direction: column;
            gap: 10px;
            //               border +   width   +   gap    + btn
            min-width: calc(1px * 6 + 150px * 3 + 1rem * 3 + 20px);
            width: max-content;

            .word-item {
              display: flex;
              gap: 1rem;
              width: max-content;

              .group {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 150px;

                label {
                  font-size: 0.8rem;
                  color: #aaa;
                }

                .word-input {
                  padding: 5px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  background-color: transparent;
                  transition: background-color 0.3s ease;
                  outline: none;
                  width: 100%;

                  &:focus {
                    background-color: #ffffff14;
                    border-color: white;
                  }

                  &.invalid {
                    border-color: #f27474;
                  }
                }
              }

              .close-btn-container {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: 6px;
              }
            }

            .new-word {
              width: 100%;
              display: flex;
              justify-content: center;
              padding: 1rem;
              align-items: center;
              border-radius: 10px;
              border-width: 1px;
              outline: 2px solid transparent;
              outline-offset: 2px;
              cursor: pointer;
              border-color: #262626;

              &:hover {
                background-color: #ffffff09;
              }

              &[disabled] {
                cursor: not-allowed;
                background-color: #262626;
                border-color: #262626;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .wrapper {
    .container-with-poadding {
      padding: 1.5rem;
    }

    .container {
      .kanji {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      .word {
        font-size: 3.75rem;
        line-height: 1;
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrapper .container {
    .kanji {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    .word {
      font-size: 6rem;
      line-height: 1;
    }
  }
}

@media (min-width: 1280px) {
  .wrapper .container {
    .word {
      font-size: 7rem;
    }
  }
}

.btn {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 1px;
  width: calc(20px + 1rem);
  height: calc(20px + 1rem);
  padding: .5rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  cursor: pointer;
  border-color: #262626;

  &:hover {
    background-color: #262626;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: #262626;
    border-color: #262626;
  }
}
