@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*, *::before, *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e5e5;
  font-family: Inter, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #171717;
  width: 100%;
  height: 100%;
  $maxpx: 16;
  $minpx: 8;
  $maxres: 1080;
  $minres: 400;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: #171717 !important;
  color: white !important;
}

body.swal2-height-auto {
  height: 100% !important
}

.swal2-validation-message {
  background-color: #171717 !important;
  color: #fff;
}
